nav {
    background-color: #333;
    color: white;
    padding: 10px;
    list-style: none;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    align-items: center;
}
.link{
    color: white;
    text-decoration: none;
}
footer{
    background-color: #f1f1f1;
    color: black;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}
.fa-cart-shopping{
    color: rgb(94, 141, 88);
} .btnCart{
    background-color: transparent;
    border: none;
} .btnCart:hover{
    background-color: #404040;
}